*{
  margin:0;
  padding:0;
  font-family: 'VT323', monospace;
}
body{
  /* background-image: url("./img/background.jpg");
  background-size: cover;  */
  /* background-color:#262929; */
  /* background-color: #121212; */
  background-image: url("./img/paws.jpg");
  background-size: contain;
  
  
}
h1{
font-family: 'VT323', monospace;
/* font-family: 'Mansalva', cursive; */
text-align: center;
}



.title{
  grid-area: title;
  /* font-family: 'Mansalva', cursive; */
  font-family: 'VT323', monospace;
  padding: 4rem 2rem;
  text-align: center;
  text-justify: center;
  font-size: 32px;
  /* background-image: url("./img/background.jpg"); */
  /* background-image: url("./img/paws.jpg"); */
  background-size: cover;
  /* background-color:#262929; */
  /* background-color:#121212; */
  /* color:#ECF0F1;  */
  color:#262929;
 
}
.section-title{
  /* background-color:#7B9BB2; */
  background-color: rgb(53, 53, 53, 0.8);
  color:#ECF0F1;
}

.retro-games{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  /* background-color:#BDC3C7; */
  
  
}
.framework-games{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  align-items: center;
}

.js-projects{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  align-items: center;
}

.websites{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  align-items: center;
}
.card{
  /* background-color:#BDC3C7; */
  /* background-color:#262929; */
  background-color:rgb(88, 87, 90, 0.6);
  
  
  color: #ECF0F1;
}


.projects{
 

}


.pong {
  
}
.websites{
  

}
.footer{
  text-align: center;
  
}
