*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgb(109, 109, 109);
  background-image: url("./img/paw-print3.png");
  background-size: contain;
}

.header{
  text-align: center;
  
}
  .title{
  font-size: 3rem; 
  color: #ECF0F1;
  padding: 10px; 
}
a{
  color: #fff;
}

.navBtn{
  /* text-align: center; */
  cursor: pointer;
  animation-name:pulse;
  animation-duration:2s;
  animation-iteration-count: infinite;
  z-index: 0;
}
.navBtn img{
  width: 30px;
}
@keyframes pulse{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.2);
  }100%{
    transform:scale(1);
  }
}

/* .nav{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  background: rgb(236, 240, 241, 0.6);
  z-index:3;
  width:0;
  overflow: hidden;
  transition:all 0.5s ease-in-out;
} */
/* .nav-show{
  width:10rem;
}
.nav-links{
  list-style-type:none;
} */

/* .nav-single-link{
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size:2.5rem;
  padding:0.5rem 1rem;
  transition: all 0.5s ease-in-out;

} */

/* h1{ 
text-align: center;
} */

.section-title{
  text-align: center;
  background-color: rgb(53, 53, 53, 0.8);
  color:#ECF0F1;
}

/* .retro-games{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;  
}
.framework-games{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  align-items: center;
}

.js-projects{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  align-items: center;
}

.websites{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 2rem 2rem;
  align-items: center;
}
.card{
  background-color:rgb(88, 87, 90, 0.6);
  z-index:10;
  color: #ECF0F1;
}


.projects{
 

}


.pong {
  
}
.websites{
  

} */
.footer{
  text-align: center;
  
}
